/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Reset Margin, Padding, Font-weight*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  height: auto;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* set up the body */
body {
  /* font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl( var(--clr-white) );
  background-color: hsl( var(--clr-dark) ); */
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}

/*   Fonts   */ /*
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Simonetta', cursive;
*/ /*___________*/
